.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFormulario {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulario {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    box-shadow: -5px 8px 10px -3px var(--cinza-claro);

}

.imagem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

.imagem img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  max-width: 350px;
}

.containerFormulario {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputAdm {
  width: 100%;
  max-width: 250px;
  padding: 1rem;
  outline: 0;
  border-radius: 15px;
  border: 3px solid var(--cinza-escuro);
  margin-bottom: 3px;
}

.btnLogin{
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 40px;
    border-radius: 15px;
    color: var(--branco);
    background-color: var(--cinza-escuro);
}
